{# {% extends 'base.html.twig' %} #}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
<h1>Admin Dashboard</h1>

<a  class="btn btn-success mb-3">Create New User</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Nom</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.role }}</td>
            <td>
                <a  class="btn btn-info btn-sm" >DELETE</a>
                <a  class="btn btn-primary btn-sm">EDIT</a>
                {# {{ include('user/_delete_form.html.twig') }} #}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
